@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #1a0b0b;
    background-color: #f8f9fa;
    line-height: 1.6;
    overflow-x: hidden;
}

@theme {  
    --animate-heroReveal: heroReveal 2s ease-out forwards;
    --animate-hover: hover 2s ease 0s infinite;

    @keyframes heroReveal {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes hover {
        0% {
            transform: translate(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translate(0);
        }
    }
}